:root{
--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
position: relative;
width: 100vw;
height: 720px;
background: var(--Dark-cyan);
background-repeat: no-repeat;
}
.container {
    margin-top: 172px;
}
.img-fluid {
    margin-top: 88px;
    margin-left: 121px;
    position: absolute;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
.card-img-top{
    border-radius: 15px 15px 0px 0px;
}
.col-md-4 {
        padding: 0px;
        width: 350px;
}
.card {
    width: 350px;
    border-width: 0px !important;
    border-radius: 15px;
}
.card-body{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.card-text{
    margin-top: 75px;
}
span {
    color: var(--Very-dark-desaturated-blue);
    letter-spacing: 0.19em;
    font-size: 10px;
}
.card-text span {
    letter-spacing: 0em !important;
    font-size: 18px;
}
.fw-light {
    margin-bottom: 0.5rem !important;
}
h5 {
    font-weight: bold;
}
.text-muted{
    font-weight: 400;
}